<div class="project-row flex-between">
    <div>
      <%= link_to (project_path(participation.project)), class: "text-link" do %>
        <% if participation.project.title.length >= 30 %>
          <p class="text-link"><%= participation.project.title[0..30] %>...</p>
        <% else %>
          <p class="text-link"><%= participation.project.title %></p>
        <% end %>
      <% end %>
    </div>
    <div>
      <p><%= participation.project.user.company_name %></p>
    </div>
    <div>
      <p class="answer-col"><%= participation.project.days_left %></p>
    </div>
    <div>
      <%= link_to "Contribute to project","#make-participation" + "-" + participation.project.id.to_s , data: { toggle: "modal"}, class: "btn btn-default"%>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="make-participation-<%= participation.project.id %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h2>Contribute to project: <%= participation.project.title %></h2>
      </div>
      <div class="modal-body">
        <%= simple_form_for([participation.project, @contribution]) do |f| %>
        <%= f.input :comment, label: "Tell us about your contribution", class: "form-control" %>
        <%= f.input :file, label: "Please select file" , as: :attachinary %>
        <%= f.submit "Contribute to project", class: "btn btn-default", style: "width:100%" %>
      </div>
    <% end %>
      </div>
    </div>
  </div>
