<div class="project-row flex-between">
    <div>
      <% if contribution.project.title.length >= 30 %>
        <p><%= contribution.project.title[0..30] %>...</p>
      <% else %>
        <p><%= contribution.project.title %></p>
      <% end %>
    </div>
    <div>
      <p><%= contribution.project.user.company_name %></p>
    </div>
    <div>
      <p class="answer-col">
        <% if contribution.starred? %>
          <%= image_tag 'star-dark.svg', class: 'profile-icon' %>
        <% else %>
          <p>No Star</p>
        <% end %>
      </p>
    </div>
    <div>
      <p><%= link_to "View", cl_image_path(contribution.file.path), class: "btn btn-default text-right", target: "_blank" %></p>
    </div>
</div>
