<div class="project-row flex-between">
    <div>
      <% if question.question.length >= 25 %>
        <p><%= question.question[0..25] %>...</p>
      <% else %>
        <p><%= question.question %></p>
      <% end %>
    </div>
    <div class="project-col">
      <p><%= question.project.title %></p>
    </div>
    <div>
      <p class="answer-col text-center"><% if question.answer? == true %>
        <i class="fa fa-check" style="color: green;"></i>
      <% else %>
        <i class="fa fa-hourglass" style="color: orange;"></i>
      <% end %>
      </p>
    </div>
    <div>
      <p><%= link_to "Open", "#answerquestion" + "-" + question.id.to_s, data: { toggle: "modal" }, class: "btn btn-default padding-none full-width-button" %></p>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="answerquestion-<%= question.id %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h3>Question submitted on project: <%= question.project.title %></h3>
      </div>
      <div class="modal-body">

          <p><strong> Q:</strong> <%= question.question %></p>
          <br>
          <% if question.answer %>
          <p><strong> Answer:</strong> <%= question.answer %></p>
          <%= link_to "Go to Project", project_path(question.project) %>
          <% else %>
            <div class="icon text-center">
              <%= image_tag("brainstorming.svg") %>
              <p>Awaiting answer</p>
              <%= link_to "Go to Project", project_path(question.project) %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
