<div class="project-row flex-between">
    <div>
      <p class="question-col"><%= question.question[0..25] %>...</p>
    </div>
    <div class="project-col">
      <p><%= question.project.title %></p>
    </div>
    <div>
      <p class="answer-col"><% if question.answer? == true %>
        Anwered
      <% else %>
        Awaiting answer
      <% end %>
      </p>
    </div>
    <div>
      <p><%= link_to "Open", "#answerquestion" + "-" + question.id.to_s, data: { toggle: "modal" }, class: "btn btn-primary padding-none full-width-button" %></p>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="answerquestion-<%= question.id %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h3>Question from <%= question.user.full_name %></h3>
      </div>
      <div class="modal-body">

          <p><strong> Question:</strong> <%= question.question %></p>
          <% if question.answer %>
          <p><strong> Answer:</strong> <%= question.answer %></p>
          <% else %>
          <p><strong> Question:</strong> Awaiting Answer</p>
          <% end %>
      </div>
    </div>
  </div>
</div>
