<!-- Responsive Dashboard projects card -->
<%= link_to project_path(project) do %>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="project-card margin-top">
			<div class="image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path (project.user.get_cover_photo) %>')">
				<p class="card-category"> <%= project.category %> </p>
			</div>
			<%= cl_image_tag project.user.get_profile_picture, class: "avatar-xl" %>
			<div class="titles">
				<div class="description text-center">
					<h2> <%= project.title %></h2>
					<h3> <%= project.user.company_name %></h3>
				</div>
			</div>
			<div class="counters">
				<p class="pill"> <%= pluralize(project.spaces_left, 'space') %> left </p>
			<p class="pill"><%= pluralize(project.days_left, 'day') %> remaining</p>
			</div>
		</div>
	</div>
<% end %>
