
	<div class="stats-box">
		<div class="stats-flex">
			<h4 class="text-center"><i class="fa fa-bar-chart"> </i> Company Statistics</h4>
		</div>

		<hr>

			<!-- Total views -->
			<div class="stats-flex">
				<h4><i class="fa fa-eye"> </i>  <%= current_user.total_project_views %> total project  <%=  'view'.pluralize(current_user.total_project_views)%></h4>
			</div>

			<!-- Average views -->
			<div class="stats-flex">
				<h4><i class="fa fa-area-chart"></i>  <%= current_user.average_project_views %> average project <%= 'view'.pluralize(current_user.average_project_views) %></h4>
			</div>

			<!-- Project joiners -->
			<div class="stats-flex">
				<h4><i class="fa fa-users"></i>  <%= current_user.companies_total_joins %> project <%= 'joiners'.pluralize(current_user.companies_total_joins) %></h4>
			</div>

			<!-- Project contributors -->
			<div class="stats-flex">
				<h4><i class="fa fa-envelope"></i>  <%= current_user.count_contributions_received %> project <%= 'contributors'.pluralize(current_user.count_contributions_received) %></h4>
			</div>
	</div>
