<div class="index-page page-wrapper-footerless">
	<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-9">
				<!-- Welcome user section -->
				<div class="welcome-section index-page-header flex-box">
			    <div class="user-dash-image">
			      <%= cl_image_tag (current_user.get_profile_picture) %>
			    </div>
			    <div>
			      <h1><%= current_user.company_name %></h1>
			      <p>Welcome to your dashboard</p>
			    </div>
				</div>
			<!-- TABS	 -->
      <div class="flex-between">
        <div class="tabs" role="tablist" id="main-bar">
          <a class="tab tab-fix-width active" role="tab" data-toggle="tab" data-target="#open-projects" aria-controls="open-projects">Open Projects</a>
          <a class="tab tab-fix-width" role="tab" data-toggle="tab" data-target="#closed-projects" aria-controls="closed-projects">Closed Projects</a>
          <a class="tab tab-fix-width" role="tab" data-toggle="tab" data-target="#company-settings" aria-controls="company-settings">Account Settings</a>
          <!-- Modal View for Project-->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Add a new project</h4>
                </div>
                <div class="modal-body">
                  <%= render 'projects/form', project: Project.new %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <!-- NEW PROJECT BUTTON-->
          <button type="button" class="btn btn-primary" id="add-project" data-toggle="modal" data-target="#myModal">
            Add a new Project
          </button>
        </div>
      </div>


	<!-- TABS PANES -->

					<!-- ACTIVE PROJECTS -->
					<div class="tab-content fade in active" id="open-projects">
						<div class="flex-between project-headers">
							<div class="flex-item">Project Title</div>
							<div class="flex-item">Days Remaining</div>
							<div class="flex-item">Spaces Left</div>
							<div class="flex-item">Action</div>
						</div>
						<% if @active_projects == false %>
						<p class="text-center">You have no active projects</p>
						<% elsif @active_projects.count > 0 %>
							<% @active_projects.each do |project| %>
								<div class="project-row margin-top company-project-row">
									<div class="flex-between">
										<div class="project-info flex-item"> <%= project.title %> </div>
										<div class="project-info flex-item text-center"> <%= project.days_left %> </div>
										<div class="project-info flex-item text-center">	<%= project.spaces_left %> </div>
										<div class="actions-project flex-item">
										<%= link_to 'View', company_project_path(project), class: "btn btn-default" %>
										<button type="button" class="btn btn-default last-button" id="edit-project" data-toggle="modal" data-target="#editModal<%= project.id %>">
											Edit
										</button>
										</div>
											<%= render "edit-project", project: project %>
									</div>
								</div>
							<% end %>
						<% end %>
					</div>

					<!-- CLOSED PROJECTS -->
					<div class="tab-content fade hidden" id="closed-projects">
						<div class="flex-between project-headers">
							<div class="flex-item">Project Title</div>
							<div class="flex-item">Days Remaining</div>
							<div class="flex-item">Spaces Left</div>
							<div class="flex-item">Action</div>
						</div>
						<% if @closed_projects == false %>
						<p class="text-center"></p>
						<% elsif @closed_projects.count > 0  %>
							<% @closed_projects.each do |project| %>
								<div class="project-row margin-top company-project-row">
									<div class="flex-between">
										<div class="project-info flex-item"> <%= project.title %> </div>
										<div class="project-info flex-item text-center"> Closed </div>
										<div class="project-info flex-item text-center">	N/A </div>
										<div class="flex-item old-project-view">
										<%= link_to 'View', company_project_path(project), class: "btn btn-default" %>
										</div>
									</div>
								</div>
							<% end %>
						<% end %>
					</div>

					<!-- COMPANY SETTINGS -->
					<div class="tab-content fade hidden" id="company-settings">
						<%= render 'users/company_form', user: current_user %>
					</div>

			</div>

			<!-- COMPANY STATS >>> RIGHT HAND COL-->
				<div class="col-xs-12 col-md-3">
					<%= render 'dashboard-project-stats', current_user: current_user %>
				</div>

			</div>
		</div>
	</div>
</div>

