<div class="index-page page-wrapper-footerless">
	<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-9 padding-none">
				<!-- Welcome user section -->
				<div class="welcome-section index-page-header flex-box">
			    <div class="user-dash-image">
			      <%= cl_image_tag (current_user.get_profile_picture) %>
			    </div>
			    <div>
			      <h1><%= current_user.company_name %></h1>
			      <p>Welcome to your dashboard</p>
			    </div>
				</div>
			<!-- TABS	 -->
      <div class="flex-between">
        <div class="tabs" role="tablist" id="main-bar">
          <a class="tab tab-fix-width active" role="tab" data-toggle="tab" data-target="#open-projects" aria-controls="open-projects">Open Projects</a>
          <a class="tab tab-fix-width" role="tab" data-toggle="tab" data-target="#closed-projects" aria-controls="closed-projects">Closed Projects</a>
          <!-- Modal View for Project-->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Add a new project</h4>
                </div>
                <div class="modal-body">
                  <%= render 'projects/form', project: Project.new %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <!-- NEW PROJECT BUTTON-->
          <button type="button" class="btn btn-primary" id="add-project" data-toggle="modal" data-target="#myModal">
            Add a new Project
          </button>
        </div>
      </div>


	<!-- TABS PANES -->

					<!-- ACTIVE PROJECTS -->
					<div class="tab-content fade in active" id="open-projects">
						<div class="flex-between project-headers">
							<div class="col-xs-3"><p id="project-title">Project Title</p></div>
							<div class="col-xs-3 text-center"><p>Days Remaining</p></div>
							<div class="col-xs-3 text-center"><p>Spaces Left</p></div>
							<div class="col-xs-3"></div>
						</div>
						<% if @active_projects == false %>
						<p class="text-center">You have no active projects</p>
						<% elsif @active_projects.count > 0 %>
						<div class="company-projects">
							<% @active_projects.each do |project| %>
								<div class="project-row margin-top company-project-row">
									<div class="flex-between">
										<div class="col-xs-3"> <%= project.title %> </div>
										<div class="col-xs-3 text-center"> <%= project.days_left %> </div>
										<div class="col-xs-3 text-center">	<%= project.spaces_left %> </div>
										<div class="col-xs-3 text-right">
										<%= link_to 'Manage', company_project_path(project), class: "btn btn-default" %>
										<button type="button" class="btn btn-default text-right" id="edit-project" data-toggle="modal" data-target="#editModal<%= project.id %>">
											Edit
										</button>
										</div>
											<%= render "edit-project", project: project %>
									</div>
								</div>
							<% end %>
						</div>
						<% end %>
					</div>

					<!-- CLOSED PROJECTS -->
					<div class="tab-content fade hidden" id="closed-projects">
						<div class="flex-between project-headers">
              <div class="col-xs-3"><p>Project Title</p></div>
              <div class="col-xs-3 text-center"><p>Contributions received</p></div>
              <div class="col-xs-3 text-center"><p>Stars awarded</p></div>
              <div class="col-xs-3"></div>
            </div>
						<% if @closed_projects == false %>
						<p class="text-center"></p>
						<% elsif @closed_projects.count > 0  %>
							<div class="company-projects">
								<% @closed_projects.each do |project| %>
									<div class="project-row margin-top company-project-row">
										<div class="flex-between">
											<div class="project-info flex-item" id="closed-project-info"><%= project.title %> </div>
											<div class="project-info flex-item text-center" id="closed-project-info"><%= project.contributions.count %></div>
											<div class="project-info flex-item text-center" id="closed-project-info"><%= project.count_starred_contributions %></div>
											<div class="flex-item text-right" id="closed-project-info">
											<%= link_to 'Manage', company_project_path(project), class: "btn btn-default" %>
											</div>
										</div>
									</div>
								<% end %>
							</div>	
						<% end %>
					</div>
			</div>

			<!-- COMPANY STATS-->
				<div class="col-xs-12 col-md-3 padding-none">
          <div class="flex-around dashboard-right-header">
            <h2 class="text-center" style="font-size: 20px;"><i class="fa fa-bar-chart"></i> Company statistics</h2>
          </div>
          <div class="right-dashboard" style="margin-bottom: -30px;">
  					<%= render 'dashboard-project-stats', current_user: current_user %>
          </div>
				</div>
			</div>
		</div>
	</div>
</div>

