<div class="alignment body-text font">
  <%= simple_form_for(current_user) do |f| %>
    <div class="margin"></div>
    <div class="col-lg-6 padding-none">
      <div class="company_name" style="padding-right: 10px">
        <%= f.input :company_name %>
      </div>
    </div>
    <div class="col-lg-6 padding-none">
      <div class="email">
        <%= f.input :email %>
      </div>
    </div>
    <%= f.input :location %>
    <%= f.input :description, label: "Company information", input_html: {style: "height: 200px;"} %>
    <div class="col-lg-6">
    <%= f.input :profile_picture, as: :attachinary %>
    </div>
    <div class="col-lg-6">
    <%= f.input :cover_photo, as: :attachinary %>
    </div>
    <div class="text-center">
      <%= f.submit value: "Save", class: "btn btn-primary", style: "width:100%", id: "margin-bot" %>
    </div>
  <% end %>
</div>
