<div class="col-xs-12 col-sm-6 col-lg-12">
  <div class="sidebar-content margin-top">
    <h3><i class="fa fa-dashboard"></i> Portfolio stats</h3>
    <hr>
    <!-- Briefcase -->
    <div class="stat">
      <%= image_tag 'briefcase.svg', class: "profile-icon" %>
      <% if user.active_participations %>
        <span>
          <strong><%= user.count_participations %></strong>
          <%= "Contribution".pluralize(user.count_participations) %>
          in progress
        </span>
      <% else %>
        <span>No work in progress</span>
      <% end %>
    </div>
    <!-- Contributions -->
    <div class="stat">
      <%= image_tag 'contribution.svg', class: "profile-icon" %>
      <% if user.closed_contributions %>
        <span>
          <strong><%= user.count_contributions %></strong>
          <%= "Contribution".pluralize(user.count_contributions) %>
          made
        </span>
      <% else %>
        <span>No contributions yet</span>
      <% end %>
    </div>
    <!-- Stars -->
    <div class="stat">
      <%= image_tag 'star.svg', class: "profile-icon" %>
      <% if user.count_starred_contributions >= 1 %>
        <span>
          <strong><%= user.count_starred_contributions %></strong>
          <%= "Star".pluralize(user.count_starred_contributions) %>
        </span>
      <% else %>
        <span>No stars yet</span>
      <% end %>
    </div>
    <!-- Upvotes -->
    <div class="stat">
      <%= image_tag 'upvote.svg', class: "profile-icon" %>
      <% if user.count_upvotes >= 1 %>
        <span>
          <strong><%= user.count_upvotes %></strong>
          <%= "Upvote".pluralize(user.count_upvotes) %>
        </span>
      <% else %>
        <span>No upvotes yet</span>
      <% end %>
    </div>
  </div>
</div>
