<div class="col-xs-12">
  <div class="shadow-box margin-top">
    <% if user.closed_contributions %>
      <h2>Past contributions</h2>
      <!-- Contribution card -->
      <% user.closed_contributions.each do |contribution| %>
        <div class="card-inline margin-top">
          <div class="row">
            <div class="col-xs-12 col-lg-1 dynamic-align-left flex-box">
              <%= image_tag ('http://placehold.it/50'), class: "avatar-small" %>
            </div>
            <div class="col-xs-12 col-lg-8">
              <div class="card-header dynamic-align-left flex-box">
                <div>
                  <h3><%= contribution.project.title %></h3>
                  <h4><%= contribution.project.user.full_name %></h4>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-lg-3">
              <div class="card-inline-date flex-box dynamic-align-right">
                <p class=""><%= contribution.updated_at %></p>
              </div>
            </div>
          </div>
          <!-- Horizontal line -->
          <hr>
          <div class="row">
            <div class="col-xs-12 col-lg-9 col-lg-offset-1">
              <p><%= contribution.comment %></p>
            </div>
            <div class="col-xs-12 col-lg-2 text-center">
              <div class="btn btn-default">Check it out</div>
            </div>
          </div>
        </div>
      <% end %>
      <!-- End of contribution card -->
    <% else %>
      <h2>No contributions yet</h2>
    <% end %>
  </div>
</div>





