<div class="col-xs-12 col-sm-6 col-lg-12">
  <div class="sidebar-content margin-top">
    <h2><i class="fa fa-star"></i> Most valued by</h2>
    <hr>
    <% if user.most_rated_by %>
      <% user.most_rated_by.each do |owner, frequency| %>
        <%= link_to user_path(owner), class: "sidebar-card-link" do %>
          <div class="flex-box sidebar-card">
            <div class="avatar-small" style="background-image: url('<%= cl_image_path (owner.get_profile_picture) %>')">
            </div>
            <div>
              <h4><strong><%= owner.full_name %></strong></h4>
              <h4 class="flex-box">
                <%= image_tag 'star.svg', class: "profile-icon-tiny" %>
                <%= frequency %>
              </h4>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <h4>No contributions yet</h4>
    <% end %>
  </div>
</div>
