<div class="page-wrapper" id="profile-page">
  <!-- Container for the whole page -->
  <div class="container">

    <!-- LEFT HAND COLUMN -->
    <!-- Left hand side of page is made up of 9 columns on desktop -->
    <!-- and full-screen on less -->
    <div class="col-xs-12 col-lg-9 left-column">
      <div class="row">

        <!-- Cover photo and profile picture -->
        <div class="col-xs-12">
          <div class="margin-top flex-around" id="profile-banner" style="background-image: url('<%= cl_image_path (@user.get_cover_photo) %>')">
          </div>
          <div class="shadow-box text-center">
            <div id="avatar-container">
              <div class="avatar-xl" id="profile-avatar" style="background-image: url('<%= cl_image_path (@user.get_profile_picture) %>')">
              </div>
            </div>
            <!-- User information -->
            <h1><%= @user.full_name %></h1>
            <!-- Shows the location if there is one -->
            <% if @user.location %>
              <p><i class="fa fa-map-marker"></i> <%= @user.location %></p>
            <% end %>
            <!-- Shows the user description -->
            <div id="user-description">
              <p><%= @user.description %></p>
            </div>
            <!-- Show a get in touch button unless the user is a company -->
            <!-- or unless they are the active user -->
            <% unless @user.company || @user == current_user %>
              <% if current_user.company %>
                <%= mail_to @user.email, "Get in touch", class: "btn btn-default" %>
              <% end %>
            <% end %>
          </div>
        </div>
        <!-- End of profile banner and info -->

        <!-- If the user is a company -->
        <% if @user.is_company? %>
          <%= render 'company_open_projects', user: @user %>
          <%= render 'company_closed_projects', user: @user %>
          <%= render 'company_contributions', user: @user %>
        <% end %>

        <!-- If the user is a person -->
        <% if @user.is_individual? %>
          <%= render 'individual_active_participations', user: @user %>
          <%= render 'individual_contributions', user: @user %>
        <% end %>
      </div>
    </div>
    <!-- END OF LEFT HAND COLUMN -->

    <!-- RIGHT HAND COLUMN -->
    <!-- Left hand side of page is made up of 3 columns on desktop -->
    <!-- and full-screen on less -->
    <div class="col-xs-12 col-lg-3">
      <div class="row">
          <!-- If the user is a company -->
          <% if @user.is_company? %>
            <%= render 'company_stats', user: @user %>
            <%= render 'company_top_individuals', user: @user %>
            <%= render 'company_most_frequent_contributors', user: @user %>
          <% end %>

          <!-- If the user is a person -->
          <% if @user.is_individual? %>
            <%= render 'individual_stats', user: @user %>
            <%= render 'individual_companies_rank', user: @user %>
            <%= render 'individual_fav_companies', user: @user %>
          <% end %>
      </div>
    </div>
    <!-- END OF RIGHT HAND COLUMN -->
  </div>
</div>
