<!-- Responsive project results card -->
<%= link_to project_path(project) do %>
  <div class="card">
    <div class="card-border">
      <div class="horizontal-card-content">
        <div class="card-info">
        <h2 class="card-info-fixed-height"><%= project.title %></h2>
        <div class="card-footer flex-around">
          <div class="flex-box">
            <%= image_tag 'connection.svg', class: 'profile-icon-tiny' %>
            <span> <%= pluralize(project.spaces_left, 'space') %> left </span>
          </div>
          <div class="flex-box">
            <%= image_tag 'calendar.svg', class: 'profile-icon-tiny' %>
            <% if project.days_left > 0 %>
              <span> <%= pluralize(project.days_left, 'day') %> remaining</span>
            <% elsif project.days_left == 0 %>
              <span>Ends today</span>
            <% else %>
              <span>Closed</span>
            <% end %>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
