<!-- Responsive project results card -->
<%= link_to project_path(project) do %>
	<div class="project-card margin-top card_border">
		<%= cl_image_tag project.user.get_profile_picture, class: "avatar-large", id: "profile-pic-only" %>
		<div class="titles">
			<div class="description text-center">
				<h2> <%= project.title %></h2>
				<h3> <%= project.user.company_name %></h3>
			</div>
		</div>
		<div class="counters">
			<p class="pill"> <%= pluralize(project.spaces_left, 'space') %> left </p>
			<p class="pill"><%= pluralize(project.days_left, 'day') %> remaining</p>
		</div>
	</div>
<% end %>



