<div class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4 footer-box">
        <h5>More</h5>
        <%= link_to "About us", "#" %> <br>
        <%= link_to "FAQs", "#" %> <br>
        <%= link_to "Contact us", "#" %> <br>
      </div>
      <div class="col-xs-12 col-md-4 footer-box">
        <h5>Links</h5>
        <%= link_to "Facebook", "#" %> <br>
        <%= link_to "Twitter", "#" %> <br>
        <%= link_to "Instagram", "#" %> <br>
      </div>
      <div class="col-xs-12 col-md-4 footer-box">
        <h5>Important stuff</h5>
        <%= link_to "Terms and Conditions", "#" %>
      </div>
    </div>
  </div>
</div>
