<%= link_to user_path(user) do %>
  <div class="col-xs-12 col-md-6">
    <div class="shadow-box margin-top individual-search-card">
      <div class="flex-between">
        <div class="flex-box">
          <div class="avatar-small" style="background-image: url('<%= cl_image_path (user.get_profile_picture) %>')">
          </div>
          <div>
            <p><strong><%= user.full_name %></strong></p>
            <p><%= user.location %></p>
          </div>
        </div>
        <div class="card-icons">
          <div class="flex-icon">
            <%= image_tag 'contribution.svg', class: "profile-icon-tiny" %>
            <span><%= user.count_contributions %> <%= "Contributions".pluralize(user.count_contributions) %></span>
          </div>
          <div class="flex-icon">
            <%= image_tag 'star.svg', class: "profile-icon-tiny" %>
            <span><%= user.count_starred_contributions %> <%= "Star".pluralize(user.count_starred_contributions) %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>



