
<div class="welcome-banner" style="background-image: linear-gradient(90deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.5 ) 80%), url('<%= cl_image_path ('homepage_v1') %>')">
  <%= render 'shared/navbar_transparent' %>
  <div class="content container">
    <div class="row">
    <!-- Left hand column containing the Welcome text and discover button -->
      <% if !user_signed_in? %>
      <div class="col-xs-12 col-lg-8 home-columns">
      <% else %>
      <div class="col-xs-12 col-lg-12 home-columns">
      <% end %>
        <div class="left-welcome">
          <h1>Work speaks louder than words</h1>
          <h2>Boost your CV by working on real projects for real companies</h2>
          <br>
          <%= link_to "Start discovering", search_path, class: "btn btn-primary" %>
        </div>
      </div>
      <!-- Right hand column containing the different sign up forms -->
      <% unless user_signed_in? %>
      <div class="col-xs-12 col-lg-4 home-columns">
        <div id="homepage-sign-up-box">
          <h2 class="text-center">Create an account</h2>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="text-center panel-title">
                      I'm a student
                  </h4>
                </div>
              </a>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <%= render 'users/person_sign_up' %>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="text-center panel-title">
                      We're a company
                  </h4>
                </div>
              </a>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <%= render 'users/company_sign_up' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div id="chevron-container">
    <%= link_to '#how', id: "chevron" do %>
      <div id="chevron-box">
        <%= image_tag 'chevron-down.svg', id: "chevron" %>
      </div>
    <% end %>
  </div>
</div>

<a name="how"></a>
<div id="homepage-how">
  <div class="section-spacing">
    <div class="three-about-sections">
      <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2>How it works</h2>
        </div>
      </div>
        <div class="row">
          <div class="col-md-4">
            <div class="col-md-4">
              <%= image_tag("icon_1.png", class: "icon-about") %>
            </div>
            <div class="col-md-8">
              <div class="info">
                <h2>Discover</h2>
                <p>Whether its marketing or legal services, search projects that interest you and start contributing in a few clicks</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-4">
              <%= image_tag("icon_2.png", class: "icon-about") %>
            </div>
            <div class="col-md-8">
              <div class="info">
                <h2>Create</h2>
                <p>So you have joined a design sprint? Now its your turn! Go away, kill it! Once you have finished simply upload your contribution.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-4">
              <%= image_tag("icon_3.png", class: "icon-about") %>
            </div>
            <div class="col-md-8">
              <div class="info">
                <h2>Impress</h2>
                <p>Once the project has closed your contributions will be added to your public profile. Share with friends, family, colleagues and employers</p>
              </div>
            </div>
          </div>
          <div class="get-started text-center margin-top">
            <%= link_to "Get Started Now", new_user_registration_path, class: "btn btn-default margin-top" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="homepage-what" style="clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%); margin-top: -60px; padding: 50px 0 50px 0">
  <div class="container">
    <div class="col-xs-12 col-lg-10 col-lg-offset-1 margin-top margin-bottom">
      <div class="text-center">
        <h2 style="font-size: 40px">Our vision</h2>
        <p style="font-size: 20px">Our vision is a future where the quality of your work comes before how you look on paper</p>
      </div>
    </div>
  </div>
</div>

<div id="homepage-sample">
  <div class="container">
    <div class="row">
      <br>
      <h2 class="text-center">Trending now</h2>
      <% @sample_projects.each do |project| %>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <%= render 'shared/card_open_project_full_imagery', project: project %>
        </div>
      <% end %>
    </div>
  </div>
</div>



