<div style="background-color: white;" >
  <div id="homepage-main-banner" style="-webkit-clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
 background-image: linear-gradient(90deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.5 ) 80%), url('<%= cl_image_path ('homepage_v1') %>')">

  <%= render 'shared/navbar_transparent' %>

  <div class="container">
    <div class="row">
      <!-- Banner Header text -->
      <% if user_signed_in? %>
        <div class="col-md-2"></div>
      <% end %>
      <div class="col-xs-12 col-md-8 homepage-banner-content">
        <div class="text-center">
          <h1>Work speaks louder than words</h1>
          <h2>Build your portfolio by contributing to real projects, for real companies</h2>
          <br>
          <p>
            <%= link_to "Start discovering", search_path, class: "btn btn-primary" %>
          </p>
        </div>
      </div>

      <!-- Sign up for Site - banner -->

      <% unless user_signed_in? %>
        <div class="col-xs-12 col-md-4 homepage-banner-content">
          <div id="homepage-form-box">
            <div class="tabs">
              <a class="tab active" role="tab" data-toggle="tab" data-target="#person-sign-up" aria-controls="person-sign-up">
                <h3>I'm a student</h3>
              </a>
              <a class="tab" role="tab" data-toggle="tab" data-target="#company-sign-up">
                <h3>We're a company</h3>
              </a>
            </div>
            <div>
              <div class="tab-content margin-top" id="person-sign-up">
                <%= render 'users/person_sign_up' %>
              </div>
              <div class="tab-content margin-top hidden" id="company-sign-up">
                <%= render 'users/company_sign_up' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    </div>
    </div>
    <div id="chevron-container">
      <%= link_to '#how', id: "chevron" do %>
        <div id="chevron-box">
          <%= image_tag 'chevron-down.svg', id: "chevron" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<a name="how"></a>
<div id="homepage-how" style="clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 84%);">
  <div class="section-spacing">
    <div class="three-about-sections">
      <div class="container">
        <div class="col-xs-12 text-center">
          <h2>How it works</h2>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="col-md-4">
              <%= image_tag("icon_1.png", class: "icon-about") %>
            </div>
            <div class="col-md-8">
              <div class="info">
                <h2>Discover</h2>
                <p>Whether its marketing or legal services, search projects that interest you and start contributing in a few clicks</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-4">
              <%= image_tag("icon_2.png", class: "icon-about") %>
            </div>
            <div class="col-md-8">
              <div class="info">
                <h2>Create</h2>
                <p>So you have joined a design sprint? Now its your turn! Go away, kill it! Once you have finished simply upload your contribution.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-4">
              <%= image_tag("icon_3.png", class: "icon-about") %>
            </div>
            <div class="col-md-8">
              <div class="info">
                <h2>Impress</h2>
                <p>Once the project has closed your contributions will be added to your public profile. Share with friends, family, colleagues and employers</p>
              </div>
            </div>
          </div>
          <div class="get-started text-center margin-top">
            <%= link_to "Get Started Now", new_user_registration_path, class: "btn btn-default margin-top" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="homepage-what">
  <div class="container">
    <div class="col-xs-12 col-lg-10 col-lg-offset-1 margin-top margin-bottom">
      <div class="text-center">
        <h2>What do we do?</h2>
        <p>Maintaining a portfolio of your work has long been around for fields like tech and design. But for most other industries, the quality of your work often drowns out amongst crappy things like CVs, standardized tests, and who you know. We believe that people should first and foremost be judged on the quality of their work.</p>
      </div>
    </div>
  </div>
</div>

<div id="homepage-sample">
  <div class="container">
    <div class="row">
      <% @sample_projects.each do |project| %>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <%= render 'shared/card_open_project_full_imagery', project: project %>
        </div>
      <% end %>
    </div>
  </div>
</div>


