<!-- Responsive project results card -->
<div class="col-xs-12 col-md-6">
	<div class="project-card margin-top">
		<div class="image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= project.user.get_cover_photo %>')">
			<p class="card-category"> <%= @projects.category %> </p>
		</div>
		<%= cl_image_tag projects.user.get_profile_picture, class: "avatar-xl" %>
		<div class="titles">
			<div class="description text-center">
				<h2> <%= @projects.title %></h2>
				<h2> <%= @projects.user.company_name %></h2>
			</div>
		</div>
		<div class="counters">
			<p> <%= @projects.spaces_left %> spaces left </p>
			<p><%= @projects.days_left %> days remaining</p>
		</div>
	</div>
</div>