<div class="container">
  <!-- Tabs -->
  <div class="row ">
    <div class="col-xs-12">
      <div class="tabs">
        <a class="tab tab-fix-width active" role="tab" data-toggle="tab" data-target="#projects" aria-controls="projects">
          <h3>Projects</h3>
        </a>
        <a class="tab tab-fix-width" role="tab" data-toggle="tab" data-target="#companies" aria-controls="companies">
          <h3>Companies</h3>
        </a>
        <a class="tab tab-fix-width" role="tab" data-toggle="tab" data-target="#people" aria-controls="people">
          <h3>People</h3>
        </a>
      </div>
    </div>
  </div>

  <!-- Project Tab -->
  <div id="projects" class="tab-content fade in">
    <div class="row">
      <div class="col-xs-12">
        <% unless params[:term].blank? %>
          <% if @projects.count > 0 %>
            <h5><%= @projects.count %> <%= "project".pluralize(@projects.count) %> matched your search for '<%= params[:term] %>'</h5>
          <% else %>
            <h5>No projects matched your search for '<%= params[:term] %>'</h5>
          <% end %>
        <% end %>
      </div>
      <%  @projects.each do |project| %>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <%= render 'shared/card_full_imagery', project: project %>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Company Tabs -->
  <div id="companies" class="tab-content fade hidden">
    <div class="row">
      <div class="col-xs-12">
        <% unless params[:term].blank? %>
          <% if @companies.count > 0 %>
            <h5><%= @companies.count %> <%= "company".pluralize(@companies.count) %> matched your search for '<%= params[:term] %>'</h5>
          <% else %>
            <h5>No companies matched your search for '<%= params[:term] %>'</h5>
          <% end %>
        <% end %>
      </div>
      <% @companies.each do |user| %>
        <%= render 'shared/search_card_companies', user: user %>
      <% end %>
    </div>
  </div>

  <!-- Profile Tabs -->
  <div id="people" class="tab-content fade hidden">
    <div class="col-xs-12">
      <% unless params[:term].blank? %>
        <% if @people.count > 0 %>
          <h5><%= @people.count %> <%= "person".pluralize(@people.count) %> matched your search for '<%= params[:term] %>'</h5>
        <% else %>
          <h5>No people matched your search for '<%= params[:term] %>'</h5>
        <% end %>
      <% end %>
    </div>
    <% @people.each do |user| %>
      <%= render 'shared/search_card_people', user: user %>
    <% end %>
  </div>
</div>
