<div class="col-lg-5 padding-none">
  <div class="left-question flex-box">

      <div class="position-logo icon">
        <%= image_tag("left-quote.svg") %>
      </div>

    <div class="left-q">
      <p style="font-style: italic;"><%= question.question %></p>
    </div>
  </div>
</div>
<div class="col-lg-7 padding-none">
  <div class="right-question">
    <% if question.answer.nil? %>
    <div class="icon">
        <%= image_tag("brainstorming.svg") %>
        <p>Awaiting answer</p>
        <% if policy(Project).create? && question.project.user == current_user %>
          <%= link_to "Answer","#answerquestion-" + question.id.to_s, data: { toggle: "modal"}, class: "btn btn-default"%>
        <% end %>
    </div>
    <% else %>
      <div>
        <p><%= question.answer %></p>
        <% if policy(Project).create? && question.project.user == current_user %>
          <%= link_to "Edit","#answerquestion-" + question.id.to_s, data: { toggle: "modal"}, class: "btn btn-default"%>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="answerquestion-<%= question.id %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h3>Answer Question from <%= question.user.full_name %></h3>
      </div>
      <div class="modal-body">
        <%= simple_form_for([question]) do |f| %>
           <p>Question: <%= question.question %></p>
           <%= f.input :answer, label: "Response", class: "form-control" %>
           <%= f.submit "Submit Question", class: "btn btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>
</div>

