<% questions.each do |question| %>
  <div class="question">
    <div class="col-lg-4">
      <div class="flex-box padded-section">
        <div class="small-icon">
          <%= image_tag("left-quote.svg") %>
        </div>
        <div>
          <p style="font-style: italic;"><%= question.question %>"</p>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="right-question">
        <% if question.answer.nil? %>
          <div class="answer-section icon">
            <%= image_tag("brainstorming.svg") %>
            <p>Awaiting answer</p>
            <% if policy(Project).create? && question.project.user == current_user %>
              <%= link_to "Answer","#answerquestion-" + question.id.to_s, data: { toggle: "modal"}, class: "btn btn-default"%>
            <% end %>
          </div>
        <% else %>
          <div class="answer-section">
            <p><%= question.answer %></p>
            <% if policy(Project).create? && question.project.user == current_user %>
              <%= link_to "Edit","#answerquestion-" + question.id.to_s, data: { toggle: "modal"}, class: "btn btn-default"%>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>



<div class="modal fade" tabindex="-1" role="dialog" id="answerquestion-<%= question.id %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h3>Answer Question from <%= question.user.full_name %></h3>
      </div>
      <div class="modal-body">
        <%= simple_form_for([question]) do |f| %>
           <p>Question: <%= question.question %></p>
           <%= f.input :answer, label: "Response", class: "form-control" %>
           <%= f.submit "Submit Question", class: "btn btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>
</div>


<% end %>
