<div class="margin-top">
  <div class="contribution">
    <p style="font-size: 16px"><i class="fa fa-cloud-upload"></i>  Contribution Options</p>
    <hr>
    <p style="font-size: 16px">You have already made a contribution to this project</p>
    <%= link_to "Update Contribution","#update-contribution", data: { toggle: "modal"}, class: "btn btn-primary", style: "width:100%"%>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="update-contribution">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h2>Update Contribution For: <%= project.title %></h2>
      </div>
      <div class="modal-body">
        <%= simple_form_for([@project, @contribution]) do |f| %>
        <%= f.input :comment, label: "Tell us about your contribution", class: "form-control" %>
        <%= f.input :file, label: "Please select file" , as: :attachinary %>
        <%= f.submit "Contribute to project", class: "btn btn-default", style: "width:100%" %>
      </div>
    <% end %>
      </div>
    </div>
  </div>
</div>
