<div class="page-wrapper">
  <div class="container">
    <div class="company-show-information margin-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-xs-12">
            <div class="left-project-info">
              <div class="flex-box">
                <div class="company-logo">
                  <%= link_to(user_path(@project.user)) do %>
                    <div class="avatar-large" style="background-image: url('<%= cl_image_path @project.user.get_profile_picture %>')">
                    </div>
                  <% end %>
                  </a>
                </div>
                <div class="company-name-title">
                  <p><%= @project.user.company_name %></p>
                  <h2><%= @project.title %></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9">
            <div class="shadow-box margin-top">
              <div class="box-title">
                <p>Brief:</p>
              </div>
              <div class="brief-content">
                <p><%= @project.brief %></p>
              </div>
            </div>
            <!-- If the project is still active show participants render -->
            <% if @project.days_left > 0 %>
                <%= render "projects/participants", project: @project %>
            <!-- If the project is no longer active show contributions render -->
            <% else %>
              <div class="similar margin-top">
                <p>Contributions to this project</p>
              </div>
              <% @project.contributions.each do |contribution| %>
                <%= render "projects/contributers", contribution: contribution %>
              <% end %>
            <% end %>
            <% if @project.questions.count > 0 %>
              <div class="questions-content">
                <div class="flex-between margin-top">
                  <div id="ask-question">
                    <h4>Q & A</h4>
                  </div>
                  <div>
                    <% if user_signed_in? && current_user.participated_to?(@project) %>
                      <%= link_to "Ask a question","#askquestion", data: { toggle: "modal"}, class: "btn btn-default"%>
                    <% end %>
                  </div>
                </div>
                <hr>
                 <%= render "projects/question", questions: @questions %>
              </div>
            <% end %>
          </div>
          <div class="col-lg-3 margin-top">
            <%= render "projects/counters", project: @project %>

            <% if user_signed_in? && current_user.participated_to?(@project) %>
                <%= link_to "Leave Project", project_participation_path(@project), class: "btn btn-default", method: :DELETE, style: "width:100%" %>
            <% end %>


            <div class="margin-top">
            <% if user_signed_in? %>
              <% if @project.days_left > 0 && current_user.participated_to?(@project) && !current_user.user_project_contributions(@project) %>
                  <%= render "projects/make-contribution", project: @project %>
                <% elsif @project.days_left > 0 && current_user.participated_to?(@project) && current_user.user_project_contributions(@project) %>
                  <%= render "projects/update-contribution", project: @project %>
              <% end %>
            <% elsif @project.days_left < 1 %>
                <%= render "projects/project-closed", project: @project %>
            <% end %>
            <% if user_signed_in? %>
              <% if @project.days_left > 0 && !current_user.participated_to?(@project) && !current_user.is_company? %>
                <%= render "projects/join-project", project: @project %>
              <% end %>
            <% end %>
            <% if !user_signed_in? %>
                <%= render "projects/join-project", project: @project %>
            <% end %>

              <br>
            </div>
          </div>
        </div>
        <% if @similar_projects.count > 0 %>
          <div class="row margin-top">
            <div class="col-xs-12">
              <h4>Similar Projects</h4>
              <hr>
            </div>
            <% @similar_projects.each do |project| %>
              <div class="col-xs-12 col-md-6 col-lg-4">
                <%= render "shared/card_open_project_full_imagery", project: project %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="askquestion">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h2>Add a question</h2>
      </div>
      <div class="modal-body">
        <%= simple_form_for([@project, @question,]) do |f| %>
          <%= f.input :question, label: "Ask us a question", class: "form-control" %>
          <%= f.submit "Submit Question", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

