<div class="container">
  <div class="company-show-information margin-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xs-12">
          <div class="left-project-info">
            <div class="flex-box">
              <div class="company-logo">
                <%= image_tag ('company.png'), class: 'avatar-large' %>
              </div>
              <div class="company-name-title">
                <p><%= @project.user.company_name %></p>
                <h2><%= @project.title %></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xs-12">
          <div class="right-project-details">
            <p>10 <span style="font-size: 14px; font-style: italic;">Days Left</span></p>
            <p>47 <span style="font-size: 14px; font-style: italic;">Spaces Left</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9">
      <div class="brief margin-top">
        <div class="box-title">
          <p>Brief:</p>
        </div>
        <div class="brief-content">
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        </div>
      </div>
      <!-- logic for different user types -->
      <div class="participations-section margin-top">
        <!-- If the project is still active show participants render -->
        <% if @project.days_left >= 0 %>
          <div class="box-title">
            <p>Participants:</p>
          </div>
          <div class="render">
            <%= render "participants", project: @project %>
          </div>
        <!-- If the project is no longer active show contributions render -->
        <% else %>
          <div class="box-title">
            <p>Contributions:</p>
          </div>
          <div class="render">
            <%= render "contributers", project: @project %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-lg-3 margin-top">
      <h2>Join Project</h2>
      <p>Like the look of this project? Get started today by clicking join below!</p>
      <%= link_to "Join Project", projects_path, class: "btn btn-primary", style: "width:100%" %>
      <br>
    </div>
  </div>
</div>
