<div class="page-wrapper" id="dashboard-project-show">
  <div class="container">
    <div class="row">
      <!-- Back to dashboard link -->
      <div class="col-xs-12">
        <br>
        <%= link_to "Back to Dashboard", company_dashboard_index_path, class: "text-link" %>
      </div>
      <div class="col-xs-12">
        <h1><%= @project.title %></h1>
        <hr>
      </div>
      <!-- Project info -->
      <div class="col-xs-12 col-lg-8">
        <div class="fr-view">
          <h3><strong>Goal</strong></h3>
          <p><%= @project.goal.html_safe %></p>
        </div>
        <br>
        <div class="fr-view">
          <h3><strong>Looking for</strong></h3>
          <p><%= @project.what_company_looking_for.html_safe %></p>
        </div>
        <br>
        <div class="fr-view">
          <h3><strong>Contributor benefits</strong></h3>
          <p><%= @project.benefit_to_candidate.html_safe %></p>
        </div>
        <br>
      </div>
      <div class="col-xs-12 col-lg-4">
        <h3><strong>Category:</strong> <%= @project.category %></h3>
        <br>
        <h3><strong>End date:</strong> <%= @project.end_date.strftime('%A, %e %B %Y, %l:%M %p') %></h3>
        <br>
        <h3><strong>Maximum number of participations:</strong> <%= @project.max_participations %></h3>
        <br>
        <h3><strong>Views:</strong> <%= @project.impressionist_count(filter: :ip_address) %></h3>
        <br>
        <h3><strong>People working on this:</strong> <%= @project.participations.count %></h3>
        <br>
        <h3><strong>Contributions received:</strong> <%= @project.contributions.count %></h3>
      </div>
      <div class="col-xs-12">
        <div class="buttons">
          <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#editProject">
            Edit
          </button>
          <!-- Delete button -->
          <%= link_to "Delete", project_path(@project), id: "delete", class: "btn btn-sm btn-danger", data: { confirm: "Are you sure?" }, method: :delete %>
        </div>
      </div>
      <!-- Questions -->
      <div class="col-xs-12 margin-top">
        <h2>Questions</h2>
        <hr>
        <% if @project.questions.count > 0 %>
          <div class="project-header flex-box">
            <div class="col-md-2">
              <p>Name</p>
            </div>
            <div class="col-md-2">
              <p>Date</p>
            </div>
            <div class="col-md-3">
              <p>Question</p>
            </div>
            <div class="col-md-7">
              <p>Answer</p>
            </div>
          </div>
          <% @project.sorted_questions.each do |q| %>
            <div class="project-row flex-box">
              <div class="col-md-2">
                <p><%= link_to q.user.full_name, user_path(q.user), class: "text-link" %></p>
              </div>
              <div class="col-md-2">
                <p><%= q.created_at.strftime('%e %B %Y') %></p>
              </div>
              <div class="col-md-3">
                <p><%= q.question %><%= q.question.length > 25 ? "..." : "" %></p>
              </div>
              <div class="col-md-3">
                <% if q.answer %>
                  <p><%= q.answer %><%= q.answer.length > 25 ? "..." : "" %></p>
                <% end %>
              </div>
              <div class="col-md-4 text-right">
                <% if q.answer %>
                  <%= link_to "Edit answer","#answerquestion-" + q.id.to_s, data: { toggle: "modal"}, class: "btn btn-sm btn-default"%>
                <% else %>
                  <%= link_to "Answer this question","#answerquestion-" + q.id.to_s, data: { toggle: "modal"}, class: "btn btn-sm btn-default"%>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
        <p>No questions</p>
        <% end %>
      </div>
      <!-- Contributions -->
      <div class="col-xs-12 margin-top">
        <h2>Contributions</h2>
        <hr>
        <% if @project.contributions.count > 0 %>
          <div class="project-header flex-box">
            <div class="col-md-2">
              <p>Name</p>
            </div>
            <div class="col-md-2">
              <p>Date</p>
            </div>
            <div class="col-md-5">
              <p>Comment</p>
            </div>
          </div>
          <% @project.contributions.each do |c| %>
          <div class="project-row flex-box">
            <div class="col-md-2">
              <p><%= link_to c.user.full_name, user_path(c.user), class: "text-link" %></p>
            </div>
            <div class="col-md-2">
              <p><%= c.created_at.strftime('%e %B %Y') %></p>
            </div>
            <div class="col-md-3">
              <p><%= c.comment.first(25) %><%= c.comment.length > 25 ? "..." : "" %> </p>
            </div>
            <div class="col-md-1">
              <% if c.starred %>
                <%= image_tag 'star-dark', class: "profile-icon" %>
              <% end %>
            </div>
            <div class="col-md-4 text-right">
              <%= link_to "Open", cl_image_path(c.file.path), class: "btn btn-sm btn-default", target: "_blank" %>
              <% if c.starred %>
                <%= link_to "Unstar", star_path(c), method: :post, class: "btn btn-sm btn-default" %>
              <% else %>
                <%= link_to "Star", star_path(c), method: :post, class: "btn btn-sm btn-default" %>
              <% end %>
              <%= mail_to c.user.email, "Get in touch", class: "btn btn-sm btn-default" %>
            </div>
          </div>
          <% end %>
        <% else %>
          <p>No contributions</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <!-- Edit modal -->
  <div class="modal fade" id="editProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit project details</h4>
        </div>
        <div class="modal-body">
          <%= render 'projects/form', project: @project %>
        </div>
      </div>
    </div>
  </div>

  <!-- Answer modal -->
  <% @project.questions.each do |q| %>
  <div class="modal fade" tabindex="-1" role="dialog" id="answerquestion-<%= q.id %>">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
         <h3>Question from <%= q.user.full_name %></h3>
        </div>
        <div class="modal-body">
          <%= simple_form_for([q]) do |f| %>
            <p><strong> Question:</strong> <%= q.question %></p>
            <%= f.input :answer, label: "Response", class: "form-control" %>
            <%= f.submit "Save", class: "btn btn-primary"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

