<div class="page-wrapper" id="dashboard-project-show">
  <div class="col-xs-12 col-lg-9">
    <br>
    <%= link_to "Back to Dashboard", company_dashboard_index_path, class: "text-link" %>
  </div>

  <div class="col-xs-12 col-lg-9">
    <h1><%= @project.title %></h1>
  </div>

  <div class="col-xs-12 col-lg-9">
    <!-- Tabs -->
    <div>
      <div class="tabs">
        <a class="tab tab-fix-width tab-transparent active" role="tab" data-toggle="tab" data-target="#contributions" aria-controls="contributions">
          <h3>Contributions</h3>
        </a>
        <a class="tab tab-fix-width tab-transparent" role="tab" data-toggle="tab" data-target="#questions" aria-controls="questions">
          <h3>Questions</h3>
        </a>
        <a class="tab tab-fix-width tab-transparent" role="tab" data-toggle="tab" data-target="#project" aria-controls="project">
          <h3>Project settings</h3>
        </a>
      </div>
    </div>

    <!-- Contributions tab -->
    <div id="contributions" class="tab-content fade in">
      <div class="margin-top">
        <% if @project.contributions.count > 0 %>
          <div class="project-header flex-box">
            <div class="col-md-2">
              <p>Name</p>
            </div>
            <div class="col-md-2">
              <p>Date</p>
            </div>
            <div class="col-md-5">
              <p>Comment</p>
            </div>
          </div>
          <% @project.contributions.each do |c| %>
          <div class="project-row flex-box">
            <div class="col-md-2">
              <p><%= link_to c.user.full_name, user_path(c.user), class: "text-link" %></p>
            </div>
            <div class="col-md-2">
              <p><%= c.created_at.strftime('%e %B %Y') %></p>
            </div>
            <div class="col-md-3">
              <p><%= c.comment.first(25) %><%= c.comment.length > 25 ? "..." : "" %> </p>
            </div>
            <div class="col-md-1">
              <% if c.starred %>
                <%= image_tag 'star-dark', class: "profile-icon" %>
              <% end %>
            </div>
            <div class="col-md-4 text-right">
              <%= link_to "Open", cl_image_path(c.file.path), class: "btn btn-sm btn-default" %>
              <% if c.starred %>
                <%= link_to "Unstar", star_path(c), method: :post, class: "btn btn-sm btn-default" %>
              <% else %>
                <%= link_to "Star", star_path(c), method: :post, class: "btn btn-sm btn-default" %>
              <% end %>
              <%= mail_to c.user.email, "Get in touch", class: "btn btn-sm btn-default" %>
            </div>
          </div>
          <% end %>
        <% else %>
          <p>No contributions</p>
        <% end %>
      </div>
    </div>

      <!-- Questions tab -->
    <div id="questions" class="tab-content fade in hidden">
      <div class="margin-top">
        <% if @project.questions.count > 0 %>
          <div class="project-header flex-box">
            <div class="col-md-2">
              <p>Name</p>
            </div>
            <div class="col-md-2">
              <p>Date</p>
            </div>
            <div class="col-md-3">
              <p>Question</p>
            </div>
            <div class="col-md-7">
              <p>Answer</p>
            </div>
          </div>

            <% @project.sorted_questions.each do |q| %>

              <div class="project-row flex-box">
                <div class="col-md-2">
                  <p><%= link_to q.user.full_name, user_path(q.user), class: "text-link" %></p>
                </div>
                <div class="col-md-2">
                  <p><%= q.created_at.strftime('%e %B %Y') %></p>
                </div>
                <div class="col-md-3">
                  <p><%= q.question %><%= q.question.length > 25 ? "..." : "" %></p>
                </div>
                <div class="col-md-3">
                  <% if q.answer %>
                    <p><%= q.answer %><%= q.answer.length > 25 ? "..." : "" %></p>
                  <% end %>
                </div>
                <div class="col-md-4 text-right">
                  <% if q.answer %>
                    <%= link_to "Edit answer","#answerquestion-" + q.id.to_s, data: { toggle: "modal"}, class: "btn btn-sm btn-default"%>
                  <% else %>
                    <%= link_to "Answer this question","#answerquestion-" + q.id.to_s, data: { toggle: "modal"}, class: "btn btn-sm btn-default"%>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% else %>
          <p>No questions</p>
          <% end %>
      </div>
    </div>



    <!-- Project tab -->
    <div id="project" class="tab-content fade in hidden">
      <div class="margin-top">
        <h3><strong>Goal:</strong> <%= @project.goal %></h3>
        <br>
        <h3><strong>Goal:</strong> <%= @project.what_company_looking_for %></h3>
        <br>
        <h3><strong>Goal:</strong> <%= @project.benefit_to_candidate %></h3>
        <br>
        <h3><strong>Category:</strong> <%= @project.category %></h3>
        <br>
        <h3><strong>End date:</strong> <%= @project.end_date.strftime('%A, %e %B %Y') %></h3>
        <br>
        <h3><strong>Maximum number of participations:</strong> <%= @project.max_participations %></h3>
        <br>
        <div>
          <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#editProject">
            Edit
          </button>
          <!-- Delete button -->
          <%= link_to "Delete", project_path(@project), id: "delete", class: "btn btn-sm btn-danger", data: { confirm: "Are you sure?" }, method: :delete %>
        </div>
      </div>
    </div>
  </div>

  <!-- RIGHT HAND COLUMN -->
  <div class="col-xs-12 col-lg-3">
    <div class="sidebar-content">
      <!-- Project stats -->
      <div>
        <h3><i class="fa fa-bar-chart"></i> Project stats</h3>
        <hr>
        <!-- Views -->
        <div class="flex-box stat">
          <%= image_tag ('eye'), class: "profile-icon" %>
          <div>
            <h4>
              <% if @project.impressionist_count(filter: :ip_address) > 0 %>
                <strong>
                  <%= @project.impressionist_count(filter: :ip_address) %>
                </strong>
                <%= "View".pluralize(@project.impressionist_count(filter: :ip_address)) %>
              <% else %>
                No views yet
              <% end %>
            </h4>
          </div>
        </div>
        <!-- Spaces left -->
        <div class="flex-box stat">
          <%= image_tag ('connection'), class: "profile-icon" %>
          <div>
            <h4>
              <% if @project.spaces_left > 0 %>
                <strong>
                  <%= @project.spaces_left %>
                </strong>
                <%= "Space".pluralize(@project.spaces_left) %>
                left
              <% else %>
                No spaces left
              <% end %>
            </h4>
          </div>
        </div>
        <!-- Contributions received -->
        <div class="flex-box stat">
          <%= image_tag ('contribution'), class: "profile-icon" %>
          <div>
            <h4>
              <% if @project.contributions.count > 0 %>
                <strong>
                  <%= @project.contributions.count %>
                </strong>
                <%= "Contribution".pluralize(@project.contributions.count) %>
                received
              <% else %>
                No contributions yet
              <% end %>
            </h4>
          </div>
        </div>
      </div>
      <!-- Participants -->
      <% if @project.end_date > DateTime.now %>
        <div class="margin-top">
          <h3>
            <% if @project.participations.count > 0 %>
              <%= @project.participations.count %>
              <%= "person".pluralize(@project.participations.count) %>
              working on this
            <% else %>
              No active participants
            <% end %>
          </h3>
          <hr>
          <% @project.participations.each do |participation| %>
              <%= link_to user_path(participation.user) do %>
                <div class="flex-box sidebar-card">
                  <div class="avatar-small" style="background-image: url('<%= cl_image_path (participation.user.get_profile_picture) %>')">
                  </div>
                  <div>
                    <h4><%= participation.user.full_name %></h4>
                  </div>
                </div>
              <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Edit modal -->
  <div class="modal fade" id="editProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit project details</h4>
        </div>
        <div class="modal-body">
          <%= render 'projects/form', project: @project %>
        </div>
      </div>
    </div>
  </div>

  <!-- Answer modal -->
  <% @project.questions.each do |q| %>
  <div class="modal fade" tabindex="-1" role="dialog" id="answerquestion-<%= q.id %>">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
         <h3>Question from <%= q.user.full_name %></h3>
        </div>
        <div class="modal-body">
          <%= simple_form_for([q]) do |f| %>
            <p><strong> Question:</strong> <%= q.question %></p>
            <%= f.input :answer, label: "Response", class: "form-control" %>
            <%= f.submit "Save", class: "btn btn-primary"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

